<h1> <%= user.name %> </h1>
<div>
  <h4>Contact: </h4>
  <ul>
    <li><%= user.email %></li>
  </ul>
</div>

<p><%= user_pets_link(user) %></p>

<p><%= button_to "Register a New Pet", new_user_pet_path(user), method: :get if user == current_user && current_user.owner? %></p>