<h2><%= @health_screenings.first.pet.name %>'s Information</h2>
<%= render partial: "/pets/info", locals: {pet: @health_screenings.first.pet} %>
<h3><%= @health_screenings.first.pet.name %>'s Screenings:</h3>
<%= render(@health_screenings) %>